/**
 * 毛玻璃效果
 */
body{
	color:#fff;
	margin:0;
	padding:0;
	z-index:1;
}
body:after{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000007a;
    z-index: -1;
	min-height:2400px;
}


/**
 * 导航栏
 */
.nav>li{
	margin:5px 10px;
	font-size:15px;
}
.nav>li>a{
	color:#FFF;
}
.nav>li>a:hover,.nav>li>a:visited,.nav>li>a:active,.nav>li>a:focus{
	background:none !important;
}
.navbar-collapse{
	text-align: center;
	padding-bottom:20px !important;
}
.navbar-collapse>.navbar-nav{
	display: inline-block;
	float: none;
	margin-top:2em;
}
.navbar-static-bottom{
	text-align: center;
	margin-top:20px;
	padding-bottom:20px !important;
}
.navbar-static-bottom>.navbar-nav{
	display: inline-block;
	float: none;
}

/**
 * About me 内容
 */
.about-header{
	text-align:center !important;
}
.about-body{
	margin-top:10em;
}
.profile-me{
	border:1px solid;
	padding:15px;
}
.portlet-skill.portlet.light{
	margin-top:5em;
	background-color:#ffffff03;
}
.caption-subject.sbold{
	color:#FFF;
}
.tiles .tile{
	border:none;
	cursor:auto;
}
.tiles .tile:hover{
	border:none;
}
.tiles .tile .tile-body{
	padding:0px;
}
.tiles .tile .tile-body img{
	width: 100%;
    height: 100%;
}

/**
 * 工作历程
 */
.portlet-course.portlet.light{
	margin-top:5em;
	background-color:#ffffff03;
}
.portlet-course.light.bordered{
	border:none !important;
}
.portlet.light.portlet-fit>.portlet-body{
	padding:10px 0px;
}

.mt-timeline-2>.mt-container>.mt-item>.mt-timeline-content>.mt-content-container {
    text-align: left;
    background-color: inherit;
    border: 2px solid #d3d7e9;
}
.mt-timeline-2>.mt-container>.mt-item>.mt-timeline-content>.mt-content-container .mt-avatar{
	width: 50px;
    height: 50px;
}
.mt-timeline-2>.mt-container>.mt-item>.mt-timeline-content>.mt-content-container .mt-avatar>img{
	height: 100%;
}
.mt-icon-font{
	line-height: 70px;
    text-align: center;
    font-size: x-large;
}