body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000007a;
    z-index: -1;
    min-height: 2400px;
}
.portlet.light.cooperate-text{
	background-color:#ffffff63;
	padding:0px;
	padding-bottom:25px;
}

.cooperate-text>h4{
	background-color: #ffffff73;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding: 1em 20px;
    margin: 0;
}
.cooperate-text>p{
	padding-left:20px;
	padding-right:20px;
	text-align:center;
}
.cooperate-text>img{
	margin-left:41%;
}