body{
	background-color:#364150;
	color:#fff;
	margin:0;
	padding:0
}
.nav>li{
	margin:5px 10px;
	font-size:15px;
}
.nav>li>a{
	color:#FFF;
}
.nav>li>a:hover,.nav>li>a:visited,.nav>li>a:active,.nav>li>a:focus{
	background:none !important;
}
.navbar-collapse{
	text-align: center;
	padding-bottom:20px !important;
}
.navbar-collapse>.navbar-nav{
	display: inline-block;
	float: none;
	margin-top:2em;
}
.navbar-static-bottom{
	text-align: center;
	padding-bottom:20px !important;
}
.navbar-static-bottom>.navbar-nav{
	display: inline-block;
	float: none;
}

/**
 * 留言板
 */
.blog-single-content{
	background-color: #ffffff3b;
    padding: 25px;
}
#message-content>.media>.media-body>.media-heading>.caption-helper{
	font-size: 10px;
    color: #d9ffffad;
}
.media-body{
	border-bottom: 1px solid #ffffff8f;
    padding: 10px;
}
#btn-submit{
	width:100%;
	text-align: center;
    margin-top: 15px;
}


/**
 * 优化校验样式
 */
.has-feedback i{
    top: 8px;
}

.has-feedback .help-block{
	color: #f35451;
}


/**
 * 弹框字体颜色修改
 */
.sweet-alert>h2{
	color:#000000;
}
.btn-primary{
	background-color:#1c699f;
}



// set the fallback-cover image
$vdg-fallback-image: url('static/images/fallback.jpg');

// import package
@import '~vidage/src/styles/vidage';